# Rust
/target
**/*.rs.bk
Cargo.lock.bak

# Kernel module build artifacts
*.o
*.ko
*.mod
*.mod.c
*.cmd
.tmp_versions/
Module.symvers
modules.order

# ABI generator
**__pycache__
***.pyc
***~

# Editors / OS
***~
.DS_Store
